/* LAYOUT GENERALE (i colori sono temporanei) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color:  #354ed1 ;
  color: #fff;
}

/* Template nascosto per elementi JS */
.template {
  display: none;;
}

/* Header */
header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: black;
  background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 35%);
}

header h1 {
  text-transform: uppercase;
}

/* App */
#app {
  max-width: 1170px;
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Todo List */
main {
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.add-reminder {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
  outline: none;
  transition: background-color .3s;
}

.add-reminder:hover,
.add-reminder:focus {
  background-color: #fff;
}

.todo {
  max-width: 100%;
}

/* Reminders della Todo List */
.todo li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
}

.todo li:last-child {
  border-bottom: none;
}

li.done {
  text-decoration: line-through;
}

li.special {
  background-color: tomato;
}

/* Icone */
.todo li i {
  cursor: pointer;
}

.todo li .fa-trash {
  transition: color .2s;
}

.todo li .fa-trash:hover {
  color: red;
}

.todo li .fa-star {
  margin-right: 10px;
}

.todo li .fa-star:hover {
  color: aqua;
}

.fa-star.special-color {
  color: aqua;
}